doctype html 

html(lang="en-US")

  head 
    title Habit Tracker 
    meta(charset="UTF-8")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header 
      a(href="/habits") 
        h1 Habit Tracker 
      block headerLinks 

    main 
      -let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul 
          each kind in kinds 
            each message in flash[kind]
              li.flash(class=kind)= message 

      block main 